:css
  #query_javascript_source {
      position: relative;
      width: auto;
      height: 400px;
  }

.row
  .col-xs-12
    Source:
    %div.well
      &lt;div id="chart_div_#{@query.id}"&gt;&lt;/div&gt;
      <br />
      &lt;script&gt; <br />
      &nbsp;&nbsp;var results_#{} = '#{raw(link_to(truncate(@query.result), results_query_path(@query, format: :json)))}'; <br/>
      &lt;/script&gt;

    #query_javascript_source

.row{style: 'line-height: 40px;'}
  .col-xs-6.text-left
    = link_to 'SAVE', '#', remote: true, class: 'btn btn-primary', id: 'js_update_javascript_source'

  .col-xs-6.text-right
    Google Charts Link:
    = link_to *(['https://developers.google.com/chart/'] * 2), target: :_blank

Chart:
.js_google_chart_area
  %iframe.js_iframe{src: gc_query_path(@query), width: '99%', height: '300xp;'}

:javascript
  $(function(){
    $('#js_update_javascript_source').click(function(e){
      $('.js_google_chart_area').empty()
      e.preventDefault()
      $.post("#{update_javascript_source_query_path(@query, format: :js)}",
       {query: {javascript_source: editor.getSession().getValue()}})
      return false
    })
  })

:javascript
  var queryJavascriptSource = "#{j @query.javascript_source}"
  new window.ChartEditor(queryJavascriptSource)
