= form_for(@query ||= Query.new, remote: true) do |f|

  .form-group

    = f.label :query do
      Query
      = link_to 'New Relic Insight Page', "https://insights.newrelic.com/accounts/#{ENV['ACCOUNT_ID']}/query", target: :_blank

    = f.text_area :query, class: 'form-control', autofocus: true

  .actions
    = f.submit 'Run', class: 'btn btn-primary'

%hr

= render partial: 'queries/query_histories_area'
