= link_to 'Edit', edit_query_path(@query)
|
\#{link_to 'Back', queries_path}

%p#notice= notice
%p
  %strong Query:
  = @query.query

  = link_to 'Run', run_query_path(@query, format: :js), remote: true, class: 'btn btn-primary'

%p
  %strong Result:
  = link_to 'SHOW', results_query_path(@query, format: :json), class: 'btn btn-primary'


.row
  .col-xs-6
    = link_to 'Edit JavaScript', edit_javascript_source_query_path(@query), class: 'btn btn-primary'

    %pre
      = @query.javascript_source

  .col-xs-6
    <div id="chart_div"></div>

/ https://developers.google.com/chart/
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

:javascript
  var results = #{@query.result}

:javascript
  #{raw @query.javascript_source}
