!!!
%html
  %head
    %title NrqlWorkbench
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false
    = javascript_include_tag 'application', 'data-turbolinks-track' => false
    = csrf_meta_tags
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

  %body
    .container-fluid
      %div
        = link_to 'NRQL Workbench', '/'

      .row
        .col-xs-12
          = render partial: 'shared/breadcrumbs'

      = yield
