!!!
%html
  %head
    %title NrqlWorkbench
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    .container-fluid
      %div
        = link_to 'NRQL Workbench', '/'

      .row
        .col-xs-12
          = render partial: 'shared/breadcrumbs'

      = yield
